html, body, ul, li, div, p, a, h1, h2, h3, h4, h5, h6, section, aside, header, footer, fieldset, legend, input, label, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;

    #wrapper {
        width: 960px;

        .notification-list {
            width: 470px;
            margin: 25px;
            border: 1px solid black;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            li {
                a{
                    text-decoration:none;

                    &:hover .content{
                        position:absolute;
                        display:block;
                    }
                }
                display: inline-block;
                padding: 5px 20px;
                border-right: 1px solid black;
                text-align:center;

                &:last-of-type{
                    border-right:none;
                }

                img {
                    width: 15px;
                }

                .content {
                    display: none;
                }
            }
        }
    }
}
