<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>List Items</title>
    <link href="1.%20ListItems.css" rel="stylesheet" />
</head>
<body>
    <ul id="main-menu">
        <li>
            <a href="#">List Item</a>
            <ul class="sub-menu">
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
            </ul>
        </li>
        <li>
            <a href="#">List Item</a><ul class="sub-menu">
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
            </ul>
        </li>
        <li>
            <a href="#">List Item</a>
            <ul class="sub-menu">
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
                <li class="sublist"><a href="#">Sublist Item</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>