<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Managment</title>
    <link href="3.%20Managment.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <header>
            <form>
                <div>
                    <img src="/Images/Monitor.png" alt="Alternate Text" />
                    <label for="member">members login:</label>
                    <input type="text" id="member" name="member" placeholder="Your name" />
                    <input type="email" name="email" placeholder="Email" />
                    <button type="submit" name="submit">GO</button>
                </div>
            </form>
        </header>
        <section>
            <h1>about total managment?  </h1>
            <p>Total managment is a free, tableless W3C-compliant web design layout by Template World. This template as been tested and proven compatible with all major browser enviroments and operating systems. You are free to modify the design to suit your tastes in anyway you like</p>
            <p>We only ask you to not remove <span>"Design by Template World"</span> and the link http://templateworld.com from the footer of the template.</p>
            <p>If you are interested in seeing more of our free web template designs feel free to visit out website, Template World. We intend to add at least 25 new free templates in the coming month</p>
        </section>
    </div>
</body>
</html>
