<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tutorial</title>
    <link href="4.%20Tutorial.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div id="home"><img src="#" alt="Alternate Text" /> Home</div>
        <ul>
            <li>CSS Basic</li>
            <li><a href="#">CSS Introduction</a></li>
            <li><a href="#">CSS Syntax</a></li>
            <li><a href="#">CSS How To</a></li>
            <li><a href="#">CSS Background</a></li>
            <li><a href="#">CSS Text</a></li>
            <li><a href="#">CSS Font</a></li>
            <li><a href="#">CSS Border</a></li>
            <li><a href="#">CSS Outline</a></li>
            <li><a href="#">CSS Margin</a></li>
            <li><a href="#">CSS Padding</a></li>
            <li><a href="#">CSS List</a></li>
            <li><a href="#">CSS Table</a></li>
        </ul>
        <ul>
            <li>CSS Advanced</li>
            <li><a href="#">CSS Dimension</a></li>
            <li><a href="#">CSS Classification</a></li>
            <li><a href="#">CSS Positioning</a></li>
            <li><a href="#">CSS Pseudo-class</a></li>
            <li><a href="#">CSS Image Gallery</a></li>
            <li><a href="#">CSS Image Opacity</a></li>
            <li><a href="#">CSS Media Types</a></li>
            <li><a href="#">CSS Don't</a></li>
            <li><a href="#">CSS Summary</a></li>
        </ul>
        <ul>
            <li>CSS Examples</li>
            <li><a href="#">CSS Examples</a></li>
        </ul>
        <ul>
            <li>References</li>
            <li><a href="#">CSS2 References</a></li>
            <li><a href="#">CSS2 Print</a></li>
            <li><a href="#">CSS2 Aural</a></li>
            <li><a href="#">CSS Units</a></li>
            <li><a href="#">CSS Colors</a></li>
            <li><a href="#">CSS Colorvalues</a></li>
            <li><a href="#">CSS Colornames</a></li>
        </ul>
        <ul>
            <li>CSS Quiz</li>
            <li><a href="#">CSS Quiz</a></li>
            <li><a href="#">CSS Exam</a></li>
        </ul>
    </nav>
    <section>
        <header>
            <h1>CSS Tutorial</h1>
            <button class="prev-btn">Previous</button>
            <button class="next-btn">Next</button>
        </header>
        <hr />
        <article>
            <h2>CSS Tutorial</h2>
            <div>
                <img src="#" alt="Alternate Text" />
                <p class="tutorial">Save a lot of work with CSS!</p>
                <p class="tutorial">In our CSS Tutorial you will learn how to use CSS to control the style and layout of multiple Web pages all at once.</p>
                <a href="#">Start Learning CSS</a>
            </div>
        </article>
        <article>
            <h2>CSS Examples</h2>
            <p>Learn by 70 examples! With our editor, you can edit CSS, and click on a test button to view the result</p>
            <a href="#">Try-It-Yourself!</a>
        </article>
        <article>
            <h2>CSS Reference</h2>
            <p>At W3Schools you will find a complete CSS2 reference, listing properties, units of measurements, colors, and more.</p>
            <a href="#">CSS2 Reference</a>
        </article>
        <article>
            <h2>CSS Quiz Test</h2>
            <p>Test your CSS skills at W3Schools!</p>
            <a href="#">Start CSS Quiz!</a>
            <hr />
            <button class="prev-btn">Previous</button>
            <button class="next-btn">Next</button>
            <hr />
        </article>
    </section>
    <aside>
        <div>
            <h2>site search</h2>
            <form>
                <input type="text" name="search" />
                <input type="button" name="search" value="..." />
            </form>
            <a href="#">About W3Schools</a> <br />
            <a href="#">W3Schools Forum </a>
        </div>
        <div>
            <button>25+ Styles</button><br />
            <a href="#">Dynamic button image generator</a>
        </div>
        <div>
            <h2>web hosting</h2>
            <a href="#">$15 Domain Name</a><br />
            <a href="#">Registration</a><br />
            <a href="#">Save 20$ / year</a>
        </div>
        <div>
            <a href="#">UK Domain Names</a><br />
            <a href="#">UK Web hosting</a><br />
            <a href="#">Alojamiento Web</a>
        </div>
        <div>
            <a href="#">Buy UK Domain Names</a><br />
            <a href="#">Register Domain Names</a>
        </div>
        <div>
            <a href="#">Cheap Domain Names</a><br />
            <a href="#">Cheap Web Hosting</a>
        </div>
        <div><a href="#">Best Web Hosting</a></div>
        <div>
            <a href="#">Domain Name</a><br />
            <a href="#">Registration</a>
        </div>
        <div>
            <a href="#">PHP MYSQL Hosting</a>
        </div>
        <div>
            <a href="#">Top 10 Hosting</a>
        </div>
        <div>
            <a href="#">Web Hosting Providers</a>
        </div>
        <div>
            <a href="#">Web Hosting Company</a>
        </div>
        <div>
            <a href="#">Web Hosting Reviews</a>
        </div>
        <div>
            <a href="#">UK Web Hosting</a>
        </div>
    </aside>
</body>
</html>
