<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="6.%20News.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
            <ul>
                <li>
                    <button>Новините</button>
                    <ul>
                        <li>Интернет новини - 13.07.2010г.</li>
                        <li>Проливни дъждове в Дания, Китай и Индия, необичайни горещини в Иран.</li>
                        <li>Над 200 хектара горят на територията на бишв военен полигон в Германия</li>
                        <li>23-ма ранени при сблъсък на два пътнически влага в Полша</li>
                        <li>Диференцират се</li>
                    </ul>
                </li>
                <li>
                    <button>Спорт</button>
                    <ul>
                        <li>Спорт</li>
                        <li>Спорт</li>
                        <li>Спорт</li>
                    </ul>
                </li>
                <li>
                    <button>Емисии</button>
                    <ul>
                        <li>Емисии</li>
                        <li>Емисии</li>
                        <li>Емисии</li>
                        <li>Емисии</li>
                    </ul>
                </li>
                <li>
                    <button>Любопитно</button>
                    <ul>
                        <li>Любопитно</li>
                        <li>Любопитно</li>
                        <li>Любопитно</li>
                        <li>Любопитно</li>
                    </ul>
                </li>
                <li>
                    <button>Аз, репортерът</button>
                    <ul>
                        <li>Аз, репортерът</li>
                        <li>Аз, репортерът</li>
                    </ul>
                </li>
                <li>
                    <button>Тази сутрин</button>
                    <ul>
                        <li>Тази сутрин</li>
                        <li>Тази сутрин</li>
                        <li>Тази сутрин</li>
                        <li>Тази сутрин</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <img src="http://img543.imageshack.us/img543/115/picmhj.jpg" alt="Alternate Text" />
    </div>
</body>
</html>
